<!DOCTYPE html>
<html lang="en">

<head> 
    <title> Tiny App </title>
</head>
<form action="/register" method="POST">
<label for="email">Email:</label>
    <input type="email" name="email">
<label for="password">Password:</label>
    <input type="password" name="password">
     <input type ="submit" value="Login">
</form>
</html>