<!DOCTYPE html>
<html lang="en">

<head> 
    <title> Tiny App </title>
</head>
<form action = "/register" method = "post">
<label for="email">Email:</label>
    <input type= "email" name = "email">
<label for="password">Password:</label>
    <input type= "password" value="password">
     <input type = "submit" value = "Logout">
</form>
</html>