<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <%- include partials/_header.ejs %>
</head>

<body>
  <% if(userid){ %>
    <h3>My TinyUrls:</h3>
    <ul>
      <% for(var key in urls) { %>
        <li>
          <%= key + ': ' + urls[key].longURL %>

            <form action="/urls/<%= key %>/delete" method="POST">
              <a href="/urls/<%= key %>">Edit</a>
              <button>Delete</button>
              <br></br>
            </form>
        </li>
        <% } %>
    </ul>
    <% } %>
</body>

</html>